$tablets_and_phones: 768px;

@mixin tablets_and_phones {
  @media screen and (max-width: $tablets_and_phones) {
    @content;
  }
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

.wrapper {
  display: flex;
  margin: 8px;
  @include tablets_and_phones {
    flex-direction: column;
  }
}

.contacts {
  width: 30%;
  font-family: Arial;
  margin-right: 20px;
  @include tablets_and_phones {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
}

.contact {
  background-color: #3a3d3e;
  margin-bottom: 10px;
  color: #969c9f;
  width: 100%;
  cursor: pointer;
  text-align: left;
  padding: 5px;

  &:hover {
    opacity: 0.8
  }

  &:last-child {
    margin-bottom: 0
  }

  &_active {
    background-color: #495052;
  }

  @include tablets_and_phones {
    width: calc(100% / 2);
    &:last-child {
      margin-bottom: auto;
    }
  }
}

.contact__address {
  font-size: 18px;
  margin-bottom: 10px;
  @include tablets_and_phones {
    font-size: 16px;
  }
}

.deliveryType {
  margin-right: 7px;
  font-size: 12px;
  display: flex;

}

.deliveryType__item {
  background-color: #282c2d;
  margin-right: 10px;
  padding: 2px 2px;

  &:last-child {
    margin-right: 0
  }

  @include tablets_and_phones {
    margin-right: 5px;
  }
}

